# Windows execution files
*.exe
*.dll
*.pdb

# Output files
BlogArticleList.html
calendar.html
list.html
NonkiArticlelist.html
UserEdArticleList.html
History.html
History2.html
TechComm.csv

# Other files
OldBlog.sb
*.xlsx
*.txt

# Debug files
Graduate